<?xml version="1.0" encoding="UTF-8"?>
<!-- This file launches the file `linear_kalman_filter.launch` with debug prints enabled for the LKF node. Use this
launch file if running directly from the terminal. If you wish to create a single visual servoing launch file running
this LKF and other algorithms, include `linear_kalman_filter.launch` instead of this file and adjust the print
configuration accordingly. -->
<launch>
  <arg name="debug" default="true" />

  <env
    if="$(arg debug)"
    name="ROSCONSOLE_CONFIG_FILE"
    value="$(find pulse_estimation_filters)/config/debug_rosconsole.conf" />
  <env
    unless="$(arg debug)"
    name="ROSCONSOLE_CONFIG_FILE"
    value="$(find pulse_estimation_filters)/config/info_rosconsole.conf" />

  <include file="$(find pulse_estimation_filters)/launch/linear_kalman_filter.launch" />
</launch>
