<?xml version="1.0"?>
<launch>
  <param name="/gubbi_test/test_x" type="bool" value="false" />
  <param name="/gubbi_test/test_y" type="bool" value="false" />
  <param name="/gubbi_test/test_z" type="bool" value="false" />
  <param name="/gubbi_test/test_search" type="bool" value="true" />
  <param name="/gubbi_test/tgt_pose_amplitude" type="double" value="0.01" />
  <param name="/gubbi_test/tgt_pose_omega" type="double" value="0.628" />
  <param name="/gubbi_test/publish_time" type="double" value="0.1" />

  <node
    name="gubbi_test_node"
    pkg="gubbi_icra_2021"
    type="gubbi_test"
    output="screen" />

</launch>
