<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Flag indicating whether or not to print debug statements from nodes launched in this file. -->
  <arg name="debug" default="true" />

  <arg name="probe_frame_name" default="p42v_link1" />
  <arg name="guidance_topic_name" default="/visual_servoing/guidance" />

  <env
    if="$(arg debug)"
    name="ROSCONSOLE_CONFIG_FILE"
    value="$(find pulse_vs_sim)/config/debug_rosconsole.conf" />
  <env
    unless="$(arg debug)"
    name="ROSCONSOLE_CONFIG_FILE"
    value="$(find pulse_vs_sim)/config/info_rosconsole.conf" />

  <include file="$(find pulse_vs_sim)/launch/point_source_ellipsoid.launch">
    <arg name="probe_frame_name" value="$(arg probe_frame_name)" />
  </include>

  <include file="$(find pulse_detectron2_ros)/launch/sim_det_3d.launch">
    <arg name="probe_frame_name" value="$(arg probe_frame_name)" />
  </include>

  <include file="$(find pulse_vs_control)/launch/moving.launch">
    <arg name="kp_trans_x" value="0.01" />
    <arg name="ki_trans_x" value="0.001" />
    <arg name="kd_trans_x" value="0.0001" />
    <arg name="kp_trans_y" value="0.01" />
    <arg name="ki_trans_y" value="0.001" />
    <arg name="kd_trans_y" value="0.0001" />
    <arg name="kp_rot_z" value="0.1" />
    <arg name="ki_rot_z" value="0.01" />
    <arg name="kd_rot_z" value="0.001" />
    <arg name="probe_frame_name" value="$(arg probe_frame_name)" />
    <arg name="guidance_topic_name" value="$(arg guidance_topic_name)" />
  </include>

  <include file="$(find gubbi_vs_2024)/launch/gubbi.launch" />

  <node pkg="gubbi_vs_2024" type="vis_multitrack_lkf_node" name="vis_multitrack_lkf_node">
    <param name="lkf_topic_name" value="/visual_servoing/multi_track_lkf" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz_node" args="-d $(find pulse_vs_sim)/rviz/rviz_tf.rviz" />
</launch>
