<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="debug" default="false" />
  <env
    if="$(arg debug)"
    name="ROSCONSOLE_CONFIG_FILE"
    value="$(find pulse_force_control)/config/debug_rosconsole.conf" />
  <env
    unless="$(arg debug)"
    name="ROSCONSOLE_CONFIG_FILE"
    value="$(find pulse_force_control)/config/info_rosconsole.conf" />

  <!-- Use private parameters for parameters such as time step and maximum
       angular velocity. -->
  <node
    name="gubbi_force_control_node"
    pkg="pulse_force_control"
    type="gubbi_force_control_node"
    respawn="false" output="screen">
    <param name="contact_force" value="4.0"/>
  </node>
</launch>
